*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#box h1
{
    text-transform: uppercase;
    margin-bottom: 5%;
}

 .task{
    margin-bottom: 5px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    list-style: none;
    padding: 0 15px;
    line-height: 35px;
} 


.task .delete{
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    float: right;
}
